@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "https://www.nerdfonts.com/assets/css/webfont.css";

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Space Mono", serif;
}

body {
  background: black;
  color: white;
}

a {
  all: unset;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:focus {
  outline: none;
}

#app {
  width: 100%;
  height: 100%;
}

#background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

#main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.5);

  border: 1px solid #111;
  border-radius: 40px;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding: 20px;

  width: 600px;
  height: 220px;
}
